html {

  font-size: 12px;

}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


body{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
}

@media(max-width: 460px){
  h1{
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h3{
  font-size: 3.25rem;
}

a{
  color: #4589ff; /*Blue 50*/
}
a:visited{
  color: #a2191f; /*Red 70*/
}
a:hover{
  color: #21272a; /*Cool gray 90*/
}

#main{
  margin: 55px 30px;
  padding: 15px;
  border-radius: 15px 50px 30px 5px;
  background: #000000; 
}

@media (max-width: 460px) {
  #main{
    margin: 0;
  }
}