html {

  font-size: 12px;

}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');


body{
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

h1{
  font-size: 4rem;
  margin-bottom: 0;
}

@media(max-width: 460px){
  h1{
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h3{
  font-size: 3.25rem;
}